In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 35.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845513 sha256=84ee4a0a1e157a9bccfb5466103a62805c5dd4a66a93006633f6db2c58d3bd4b
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder \
            .appName('sqldatefunction') \
            .getOrCreate()
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"],
      ["4","2022-04-05"],["5","2022-09-05"]]
date_df=spark.createDataFrame(data,["id","date"])
date_df.show()

+---+----------+
| id|      date|
+---+----------+
|  1|2020-02-01|
|  2|2019-03-01|
|  3|2021-03-01|
|  4|2022-04-05|
|  5|2022-09-05|
+---+----------+

**current_date() function**

In [ ]:
date_df.select(current_date().alias('current_date')).show()

+------------+
|current_date|
+------------+
|  2022-11-03|
|  2022-11-03|
|  2022-11-03|
|  2022-11-03|
|  2022-11-03|
+------------+

**date_format() function**

In [ ]:
date_df.select(col('date'),date_format(col('date'), 'dd-MM-yyyy') \
               .alias('date_format')).show()

+----------+-----------+
|      date|date_format|
+----------+-----------+
|2020-02-01| 01-02-2020|
|2019-03-01| 01-03-2019|
|2021-03-01| 01-03-2021|
|2022-04-05| 05-04-2022|
|2022-09-05| 05-09-2022|
+----------+-----------+

**to_date() function**

In [ ]:
date_df.select(col('date'),to_date(col('date'),'yyyy-MM-dd') \
               .alias('to_date')).show()

+----------+----------+
|      date|   to_date|
+----------+----------+
|2020-02-01|2020-02-01|
|2019-03-01|2019-03-01|
|2021-03-01|2021-03-01|
|2022-04-05|2022-04-05|
|2022-09-05|2022-09-05|
+----------+----------+

**datediff() function**

In [ ]:
date_df.select(col('date'), datediff(current_date(),col('date')) \
               .alias('date_difference')).show()

+----------+---------------+
|      date|date_difference|
+----------+---------------+
|2020-02-01|           1006|
|2019-03-01|           1343|
|2021-03-01|            612|
|2022-04-05|            212|
|2022-09-05|             59|
+----------+---------------+

**months_between() function**

In [ ]:
date_df.select(col('date'),months_between(current_date(),col('date')) \
               .alias('months_difference')).show()

+----------+-----------------+
|      date|months_difference|
+----------+-----------------+
|2020-02-01|      33.06451613|
|2019-03-01|      44.06451613|
|2021-03-01|      20.06451613|
|2022-04-05|       6.93548387|
|2022-09-05|       1.93548387|
+----------+-----------------+

**trunc() function**

**add_months(), date_add(), date_sub() function**

In [ ]:
date_df.select(col('date'),add_months(col('date'), 3).alias('3_months_added'),
                           add_months(col('date'),-1).alias('3_months_substracted'),
                           date_add(col('date'), 4).alias('4_days_added'),
                           date_sub(col('date'),2).alias('2_days_substracted')).show()

+----------+--------------+--------------------+------------+------------------+
|      date|3_months_added|3_months_substracted|4_days_added|2_days_substracted|
+----------+--------------+--------------------+------------+------------------+
|2020-02-01|    2020-05-01|          2020-01-01|  2020-02-05|        2020-01-30|
|2019-03-01|    2019-06-01|          2019-02-01|  2019-03-05|        2019-02-27|
|2021-03-01|    2021-06-01|          2021-02-01|  2021-03-05|        2021-02-27|
|2022-04-05|    2022-07-05|          2022-03-05|  2022-04-09|        2022-04-03|
|2022-09-05|    2022-12-05|          2022-08-05|  2022-09-09|        2022-09-03|
+----------+--------------+--------------------+------------+------------------+

**year(), month(), next_day(), weekofyear() function**

In [ ]:
date_df.select(col('date'),
               year(col('date')).alias('extracted_year'),
               month(col('date')).alias('extracted_month'),
               next_day(col('date'),'monday').alias('next_day'),
               weekofyear(col('date')).alias('week_of_year')).show()

+----------+--------------+---------------+----------+------------+
|      date|extracted_year|extracted_month|  next_day|week_of_year|
+----------+--------------+---------------+----------+------------+
|2020-02-01|          2020|              2|2020-02-03|           5|
|2019-03-01|          2019|              3|2019-03-04|           9|
|2021-03-01|          2021|              3|2021-03-08|           9|
|2022-04-05|          2022|              4|2022-04-11|          14|
|2022-09-05|          2022|              9|2022-09-12|          36|
+----------+--------------+---------------+----------+------------+

**dayofweek(), dayofmonth(), dayofyear() function**

In [ ]:
date_df.select(col('date'),
               dayofweek(col('date')).alias('day_of_week'),
               dayofmonth(col('date')).alias('day_of_month'),
               dayofyear(col('date')).alias('day_of_year')).show()

+----------+-----------+------------+-----------+
|      date|day_of_week|day_of_month|day_of_year|
+----------+-----------+------------+-----------+
|2020-02-01|          7|           1|         32|
|2019-03-01|          6|           1|         60|
|2021-03-01|          2|           1|         60|
|2022-04-05|          3|           5|         95|
|2022-09-05|          2|           5|        248|
+----------+-----------+------------+-----------+

**currect_timestamp() function**

In [ ]:
date_df.select(current_timestamp().alias('current_timestamp')).show(truncate=False)

+--------------------------+
|current_timestamp         |
+--------------------------+
|2022-11-03 05:17:55.651519|
|2022-11-03 05:17:55.651519|
|2022-11-03 05:17:55.651519|
|2022-11-03 05:17:55.651519|
|2022-11-03 05:17:55.651519|
+--------------------------+

**to_timestamp() function**

In [ ]:
time_data=[["1","02-01-2020 11 01 19 06"],["2","03-01-2019 12 01 19 406"],
         ["3","03-01-2018 12 01 19 406"],["4","01-11-2022 11 32 19 406"]]
time_df=spark.createDataFrame(time_data,["id","time"])
time_df.show(truncate=False)

+---+-----------------------+
|id |time                   |
+---+-----------------------+
|1  |02-01-2020 11 01 19 06 |
|2  |03-01-2019 12 01 19 406|
|3  |03-01-2018 12 01 19 406|
|4  |01-11-2022 11 32 19 406|
+---+-----------------------+

In [ ]:
time_df = time_df.select(col("time"),to_timestamp(col("time"), "MM-dd-yyyy HH mm ss SSS")
              .alias("timestamp"))

time_df.show(truncate=False)

+-----------------------+-----------------------+
|time                   |timestamp              |
+-----------------------+-----------------------+
|02-01-2020 11 01 19 06 |2020-02-01 11:01:19.06 |
|03-01-2019 12 01 19 406|2019-03-01 12:01:19.406|
|03-01-2018 12 01 19 406|2018-03-01 12:01:19.406|
|01-11-2022 11 32 19 406|2022-01-11 11:32:19.406|
+-----------------------+-----------------------+

**hour(), Minute(), second() function**

In [ ]:
time_df.select(col("timestamp"), 
    hour(col("timestamp")).alias("hour"), 
    minute(col("timestamp")).alias("minute"),
    second(col("timestamp")).alias("second")).show(truncate=False)

+-----------------------+----+------+------+
|timestamp              |hour|minute|second|
+-----------------------+----+------+------+
|2020-02-01 11:01:19.06 |11  |1     |19    |
|2019-03-01 12:01:19.406|12  |1     |19    |
|2018-03-01 12:01:19.406|12  |1     |19    |
|2022-01-11 11:32:19.406|11  |32    |19    |
+-----------------------+----+------+------+

**unix_timestamp() function**

In [ ]:
unix_time_df = time_df.select(unix_timestamp(col('timestamp')).alias('unix_time'))
unix_time_df.show()

+----------+
| unix_time|
+----------+
|1580554879|
|1551441679|
|1519905679|
|1641900739|
+----------+

**from_unixtime() function**

In [ ]:
unix_time_df.select(from_unixtime(col('unix_time')).alias('original_time')).show()

+-------------------+
|      original_time|
+-------------------+
|2020-02-01 11:01:19|
|2019-03-01 12:01:19|
|2018-03-01 12:01:19|
|2022-01-11 11:32:19|
+-------------------+