In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 47.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=2ef0b618564c7bdbf5a9751614c553c96af081d0013756b21dba1d7b0d0a950c
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import * 
import pyspark.sql.functions as F

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
information_df = spark.read.csv('informations_households.csv', header = True, inferSchema= True)
holidays_df = spark.read.csv('uk_bank_holidays.csv', header = True, inferSchema= True)
weather_daily_df = spark.read.csv('weather_daily_darksky.csv', header = True, inferSchema= True)
weather_hourly_df = spark.read.csv('weather_hourly_darksky.csv', header = True, inferSchema= True)
daily_df = spark.read.csv('daily_dataset.csv', header = True, inferSchema= True)
acorn_df = spark.read.csv('acorn_details.csv', header = True, inferSchema= True)

In [5]:
information_df.createOrReplaceTempView('information_df')
holidays_df.createOrReplaceTempView('holidays_df')
weather_daily_df.createOrReplaceTempView('weather_daily_df')
weather_hourly_df.createOrReplaceTempView('weather_hourly_df')
daily_df.createOrReplaceTempView('daily_df')
acorn_df.createOrReplaceTempView('acorn_df')

In [6]:
spark.sql(''' SELECT *
              FROM information_df
              LIMIT 5 ''').show()

+---------+--------+-------+-------------+-------+
|    LCLid|stdorToU|  Acorn|Acorn_grouped|   file|
+---------+--------+-------+-------------+-------+
|MAC005492|     ToU| ACORN-|       ACORN-|block_0|
|MAC001074|     ToU| ACORN-|       ACORN-|block_0|
|MAC000002|     Std|ACORN-A|     Affluent|block_0|
|MAC003613|     Std|ACORN-A|     Affluent|block_0|
|MAC003597|     Std|ACORN-A|     Affluent|block_0|
+---------+--------+-------+-------------+-------+

In [7]:
spark.sql(''' SELECT *
              FROM holidays_df
              ''').show()

+-------------------+--------------------+
|      Bank holidays|                Type|
+-------------------+--------------------+
|2012-12-26 00:00:00|          Boxing Day|
|2012-12-25 00:00:00|       Christmas Day|
|2012-08-27 00:00:00| Summer bank holiday|
|2012-05-06 00:00:00|Queen?s Diamond J...|
|2012-04-06 00:00:00|Spring bank holid...|
|2012-07-05 00:00:00|Early May bank ho...|
|2012-09-04 00:00:00|       Easter Monday|
|2012-06-04 00:00:00|         Good Friday|
|2012-02-01 00:00:00|New Year?s Day (s...|
|2013-12-26 00:00:00|          Boxing Day|
|2013-12-25 00:00:00|       Christmas Day|
|2013-08-26 00:00:00| Summer bank holiday|
|2013-05-27 00:00:00| Spring bank holiday|
|2013-06-05 00:00:00|Early May bank ho...|
|2013-01-04 00:00:00|       Easter Monday|
|2013-03-29 00:00:00|         Good Friday|
|2013-01-01 00:00:00|      New Year?s Day|
|2014-12-26 00:00:00|          Boxing Day|
|2014-12-25 00:00:00|       Christmas Day|
|2014-08-25 00:00:00| Summer bank holiday|
+-------------------+--------------------+
only showing top 20 rows

In [8]:
spark.sql(''' SELECT *
              FROM daily_df
              LIMIT 5 ''').show()

+---------+-------------------+-------------+-------------------+------------------+------------+-------------------+------------------+-------------------+
|    LCLid|                day|energy_median|        energy_mean|        energy_max|energy_count|         energy_std|        energy_sum|         energy_min|
+---------+-------------------+-------------+-------------------+------------------+------------+-------------------+------------------+-------------------+
|MAC000131|2011-12-15 00:00:00|        0.485|0.43204545454545457|             0.868|          22|0.23914579678767536|             9.505|0.07200000000000001|
|MAC000131|2011-12-16 00:00:00|       0.1415|0.29616666875000003|         1.1160001|          48| 0.2814713178628203|14.216000100000002|              0.031|
|MAC000131|2011-12-17 00:00:00|       0.1015|          0.1898125|             0.685|          48| 0.1884046862418033|             9.111|              0.064|
|MAC000131|2011-12-18 00:00:00|        0.114| 0.2189791666666666|0.6759999999999999|          48|0.20291927853038208|10.510999999999996|              0.065|
|MAC000131|2011-12-19 00:00:00|        0.191|0.32597916666666665|0.7879999999999999|          48| 0.2592049619947409|15.646999999999998|              0.066|
+---------+-------------------+-------------+-------------------+------------------+------------+-------------------+------------------+-------------------+

In [9]:
spark.sql(''' SELECT *
              FROM daily_df
              INNER JOIN information_df
              ON daily_df.LCLid = information_df.LCLid
              ''').show()

+---------+-------------------+-------------------+-------------------+------------------+------------+-------------------+------------------+-------------------+---------+--------+-------+-------------+--------+
|    LCLid|                day|      energy_median|        energy_mean|        energy_max|energy_count|         energy_std|        energy_sum|         energy_min|    LCLid|stdorToU|  Acorn|Acorn_grouped|    file|
+---------+-------------------+-------------------+-------------------+------------------+------------+-------------------+------------------+-------------------+---------+--------+-------+-------------+--------+
|MAC000131|2011-12-15 00:00:00|              0.485|0.43204545454545457|             0.868|          22|0.23914579678767536|             9.505|0.07200000000000001|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-16 00:00:00|             0.1415|0.29616666875000003|         1.1160001|          48| 0.2814713178628203|14.216000100000002|              0.031|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-17 00:00:00|             0.1015|          0.1898125|             0.685|          48| 0.1884046862418033|             9.111|              0.064|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-18 00:00:00|              0.114| 0.2189791666666666|0.6759999999999999|          48|0.20291927853038208|10.510999999999996|              0.065|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-19 00:00:00|              0.191|0.32597916666666665|0.7879999999999999|          48| 0.2592049619947409|15.646999999999998|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-20 00:00:00|0.21800000000000005|             0.3575|             1.077|          48|0.28759657027517305|             17.16|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-21 00:00:00|             0.1305| 0.2350833333333333|             0.705|          48| 0.2220696491599295|            11.284|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-22 00:00:00|0.08900000000000001|0.22135416666666666|             1.094|          48|0.26723887549908265|            10.625|              0.062|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-23 00:00:00|0.16049999999999998|           0.291125|0.7490000000000001|          48|0.24907604794434665|13.973999999999998|              0.065|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-24 00:00:00|              0.107|0.16899999999999998|             0.613|          47|0.15068466931050878|             7.943|              0.065|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-25 00:00:00|             0.2175|0.33918750000000003|             0.866|          48|0.26310119857478675|16.281000000000002|              0.069|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-26 00:00:00|0.14950000000000002| 0.2617083333333333|             0.838|          48| 0.2447927441503373|12.562000000000001|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-27 00:00:00|0.14300000000000002| 0.2740000000000001|             0.778|          48|0.25212745847913703|13.152000000000005|              0.068|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-28 00:00:00|0.14550000000000002| 0.3005208333333333|             1.207|          48|0.29868028801773083|            14.425|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-29 00:00:00|              0.152| 0.3070416666666667|             0.888|          48| 0.2644546341928976|            14.738|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-30 00:00:00|              0.135|0.27685416666666673|             0.782|          48|  0.261185756802965|13.289000000000005|              0.064|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2011-12-31 00:00:00|             0.1515|0.32572916666666674|             1.252|          48| 0.3098882941898363|15.635000000000005|              0.066|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2012-01-01 00:00:00|              0.151|0.25602083333333336|             0.812|          48| 0.2252494116065079|            12.289|              0.068|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2012-01-02 00:00:00|              0.134| 0.2520833333333333|             0.851|          48|0.23721296951853504|              12.1|              0.068|MAC000131|     Std|ACORN-E|     Affluent|block_22|
|MAC000131|2012-01-03 00:00:00|0.14750000000000002|0.23550000000000004|             0.674|          48| 0.2099953393606427|11.304000000000002|              0.068|MAC000131|     Std|ACORN-E|     Affluent|block_22|
+---------+-------------------+-------------------+-------------------+------------------+------------+-------------------+------------------+-------------------+---------+--------+-------+-------------+--------+
only showing top 20 rows

In [10]:
spark.sql('''SELECT *
              FROM daily_df
              ''').show()

+---------+-------------------+-------------------+-------------------+------------------+------------+-------------------+------------------+-------------------+
|    LCLid|                day|      energy_median|        energy_mean|        energy_max|energy_count|         energy_std|        energy_sum|         energy_min|
+---------+-------------------+-------------------+-------------------+------------------+------------+-------------------+------------------+-------------------+
|MAC000131|2011-12-15 00:00:00|              0.485|0.43204545454545457|             0.868|          22|0.23914579678767536|             9.505|0.07200000000000001|
|MAC000131|2011-12-16 00:00:00|             0.1415|0.29616666875000003|         1.1160001|          48| 0.2814713178628203|14.216000100000002|              0.031|
|MAC000131|2011-12-17 00:00:00|             0.1015|          0.1898125|             0.685|          48| 0.1884046862418033|             9.111|              0.064|
|MAC000131|2011-12-18 00:00:00|              0.114| 0.2189791666666666|0.6759999999999999|          48|0.20291927853038208|10.510999999999996|              0.065|
|MAC000131|2011-12-19 00:00:00|              0.191|0.32597916666666665|0.7879999999999999|          48| 0.2592049619947409|15.646999999999998|              0.066|
|MAC000131|2011-12-20 00:00:00|0.21800000000000005|             0.3575|             1.077|          48|0.28759657027517305|             17.16|              0.066|
|MAC000131|2011-12-21 00:00:00|             0.1305| 0.2350833333333333|             0.705|          48| 0.2220696491599295|            11.284|              0.066|
|MAC000131|2011-12-22 00:00:00|0.08900000000000001|0.22135416666666666|             1.094|          48|0.26723887549908265|            10.625|              0.062|
|MAC000131|2011-12-23 00:00:00|0.16049999999999998|           0.291125|0.7490000000000001|          48|0.24907604794434665|13.973999999999998|              0.065|
|MAC000131|2011-12-24 00:00:00|              0.107|0.16899999999999998|             0.613|          47|0.15068466931050878|             7.943|              0.065|
|MAC000131|2011-12-25 00:00:00|             0.2175|0.33918750000000003|             0.866|          48|0.26310119857478675|16.281000000000002|              0.069|
|MAC000131|2011-12-26 00:00:00|0.14950000000000002| 0.2617083333333333|             0.838|          48| 0.2447927441503373|12.562000000000001|              0.066|
|MAC000131|2011-12-27 00:00:00|0.14300000000000002| 0.2740000000000001|             0.778|          48|0.25212745847913703|13.152000000000005|              0.068|
|MAC000131|2011-12-28 00:00:00|0.14550000000000002| 0.3005208333333333|             1.207|          48|0.29868028801773083|            14.425|              0.066|
|MAC000131|2011-12-29 00:00:00|              0.152| 0.3070416666666667|             0.888|          48| 0.2644546341928976|            14.738|              0.066|
|MAC000131|2011-12-30 00:00:00|              0.135|0.27685416666666673|             0.782|          48|  0.261185756802965|13.289000000000005|              0.064|
|MAC000131|2011-12-31 00:00:00|             0.1515|0.32572916666666674|             1.252|          48| 0.3098882941898363|15.635000000000005|              0.066|
|MAC000131|2012-01-01 00:00:00|              0.151|0.25602083333333336|             0.812|          48| 0.2252494116065079|            12.289|              0.068|
|MAC000131|2012-01-02 00:00:00|              0.134| 0.2520833333333333|             0.851|          48|0.23721296951853504|              12.1|              0.068|
|MAC000131|2012-01-03 00:00:00|0.14750000000000002|0.23550000000000004|             0.674|          48| 0.2099953393606427|11.304000000000002|              0.068|
+---------+-------------------+-------------------+-------------------+------------------+------------+-------------------+------------------+-------------------+
only showing top 20 rows

**blockwise Maximum and MInimum energy consumption**

In [11]:
spark.sql(''' SELECT information_df.file, 
                     SUM(daily_df.energy_max) AS MAX_Energy_Consumption,
                     SUM(daily_df.energy_min) AS MIN_Energy_Consumption
              FROM daily_df
              JOIN information_df
              ON daily_df.LCLid = information_df.LCLid 
              GROUP BY information_df.file
              ORDER BY information_df.file 
              LIMIT 5 ''').show()

+--------+----------------------+----------------------+
|    file|MAX_Energy_Consumption|MIN_Energy_Consumption|
+--------+----------------------+----------------------+
|block_22|    30823.649006200252|     2287.911000099982|
|block_35|      4524.29200350002|    431.51099999999394|
|block_36|    26950.763998700033|    1964.7630000999916|
|block_52|    24364.897002100108|     1831.367999999928|
|block_54|    26307.732002000055|     1709.884999899973|
+--------+----------------------+----------------------+

**blockwise Maximum and MInimum energy consumption at particular date**

In [12]:
spark.sql(''' SELECT information_df.file, date(daily_df.day),
                     SUM(daily_df.energy_max) AS MAX_Energy_Consumption,
                     SUM(daily_df.energy_min) AS MIN_Energy_Consumption
              FROM daily_df
              JOIN information_df
              ON daily_df.LCLid = information_df.LCLid
              WHERE daily_df.day = '2011-12-15 00:00:00'
              GROUP BY information_df.file, daily_df.day
              ORDER BY information_df.file
              LIMIT 5''').show()

+--------+----------+----------------------+----------------------+
|    file|       day|MAX_Energy_Consumption|MIN_Energy_Consumption|
+--------+----------+----------------------+----------------------+
|block_22|2011-12-15|     9.065999999999999|                 0.386|
|block_35|2011-12-15|     5.967000100000001|                 0.354|
|block_36|2011-12-15|             6.9920002|                 0.518|
|block_52|2011-12-15|                  0.75|                  0.11|
|block_54|2011-12-15|             4.1379999|                 0.146|
+--------+----------+----------------------+----------------------+

**AVG MAX and MIN energy consumption of all block**

In [13]:
sql_1 = spark.sql(''' SELECT AVG(MAX_Energy_Consumption) AS AVG_Energy_Consumption_MAX,
                     AVG(MIN_Energy_Consumption) AS AVG_Energy_Consumption_MIN
              FROM (
                     SELECT information_df.file, 
                     SUM(daily_df.energy_max) AS MAX_Energy_Consumption,
                     SUM(daily_df.energy_min) AS MIN_Energy_Consumption
              FROM daily_df
              JOIN information_df
              ON daily_df.LCLid = information_df.LCLid 
              GROUP BY information_df.file
              ORDER BY information_df.file 
                  ) AS f
               ''')

sql_1.createOrReplaceTempView('sql_1')
sql_1.show()

+--------------------------+--------------------------+
|AVG_Energy_Consumption_MAX|AVG_Energy_Consumption_MIN|
+--------------------------+--------------------------+
|        23234.184546063654|        1522.6660909636141|
+--------------------------+--------------------------+

**block that energy consumption more or less than avg**

In [14]:
sql_2 = spark.sql('''SELECT information_df.file, 
                     SUM(daily_df.energy_max) AS MAX_Energy_Consumption,
                     SUM(daily_df.energy_min) AS MIN_Energy_Consumption
              FROM daily_df
              JOIN information_df
              ON daily_df.LCLid = information_df.LCLid 
              GROUP BY information_df.file
              ORDER BY information_df.file''')

sql_2.createOrReplaceTempView('sql_2')

spark.sql(''' SELECT *,
              CASE
                WHEN sql_2.MAX_Energy_Consumption > (AVG(sql_2.MAX_Energy_Consumption)OVER()) THEN 'Greater than AVG'
                ELSE 'Less than AVG'
              END AS Status
              FROM sql_2 
              LIMIT 5''').show()

+--------+----------------------+----------------------+----------------+
|    file|MAX_Energy_Consumption|MIN_Energy_Consumption|          Status|
+--------+----------------------+----------------------+----------------+
|block_22|    30823.649006200252|     2287.911000099982|Greater than AVG|
|block_35|      4524.29200350002|    431.51099999999394|   Less than AVG|
|block_36|    26950.763998700033|    1964.7630000999916|Greater than AVG|
|block_52|    24364.897002100108|     1831.367999999928|Greater than AVG|
|block_54|    26307.732002000055|     1709.884999899973|Greater than AVG|
+--------+----------------------+----------------------+----------------+

**percentage energy consumption of blocks**

In [15]:
spark.sql(''' SELECT *, MAX_Energy_Consumption / SUM(MAX_Energy_Consumption)OVER() *100 AS MAX_Percentage_Consumption
              FROM sql_2
              LIMIT 5 ''').show()

+--------+----------------------+----------------------+--------------------------+
|    file|MAX_Energy_Consumption|MIN_Energy_Consumption|MAX_Percentage_Consumption|
+--------+----------------------+----------------------+--------------------------+
|block_22|    30823.649006200252|     2287.911000099982|        12.060461618952363|
|block_35|      4524.29200350002|    431.51099999999394|         1.770233305283524|
|block_36|    26950.763998700033|    1964.7630000999916|        10.545106283243186|
|block_52|    24364.897002100108|     1831.367999999928|         9.533326345769341|
|block_54|    26307.732002000055|     1709.884999899973|        10.293505224770245|
+--------+----------------------+----------------------+--------------------------+

**MAX and MIN energy consumption on bank holidays**

In [16]:
spark.sql(''' SELECT
                    
                    information_df.file, daily_df.day,
                    SUM(daily_df.energy_max) AS MAX_Energy_Consumption,
                    SUM(daily_df.energy_min) AS MIN_Energy_Consumption
                FROM holidays_df
                JOIN daily_df
                  ON holidays_df.`Bank holidays` = daily_df.day
                JOIN information_df
                  ON daily_df.LCLid = information_df.LCLid
            GROUP BY information_df.file, daily_df.day
            ORDER BY information_df.file, daily_df.day
               ''').show()

+--------+-------------------+----------------------+----------------------+
|    file|                day|MAX_Energy_Consumption|MIN_Energy_Consumption|
+--------+-------------------+----------------------+----------------------+
|block_22|2012-02-01 00:00:00|                27.147|                 2.332|
|block_22|2012-04-06 00:00:00|    22.639000200000005|                 2.002|
|block_22|2012-05-06 00:00:00|    28.678000100000006|    1.9869999999999994|
|block_22|2012-06-04 00:00:00|    21.919999999999995|                 1.678|
|block_22|2012-07-05 00:00:00|                18.859|                  1.49|
|block_22|2012-08-27 00:00:00|     35.67999999999999|                 2.966|
|block_22|2012-09-04 00:00:00|                35.575|                 2.908|
|block_22|2012-12-25 00:00:00|    36.676999900000006|                 3.723|
|block_22|2012-12-26 00:00:00|    36.674000199999995|    3.6860000000000004|
|block_22|2013-01-01 00:00:00|    45.132000500000004|    3.6629999999999994|
|block_22|2013-01-04 00:00:00|     46.04500019999999|    3.1429999999999985|
|block_22|2013-03-29 00:00:00|    45.018999999999984|     3.188000000000001|
|block_22|2013-05-27 00:00:00|    36.052999700000015|    2.9139999999999993|
|block_22|2013-06-05 00:00:00|    28.638000099999996|    2.8769999999999993|
|block_22|2013-08-26 00:00:00|    33.270999800000006|    2.6580000000000004|
|block_22|2013-12-25 00:00:00|    35.122999799999995|     3.095000000000001|
|block_22|2013-12-26 00:00:00|     36.13499980000001|    2.9950000000000006|
|block_22|2014-01-01 00:00:00|     44.86800000000002|     4.196000000000001|
|block_35|2012-02-01 00:00:00|                 4.819|                 0.399|
|block_35|2012-04-06 00:00:00|             5.6809998|   0.45300000000000007|
+--------+-------------------+----------------------+----------------------+
only showing top 20 rows

**MAX and MIN energy consumption on other than bank holidays**

In [17]:
spark.sql('''SELECT 
                    information_df.file, daily_df.day,
                    SUM(daily_df.energy_max) AS MAX_Energy_Consumption,
                    SUM(daily_df.energy_min) AS MIN_Energy_Consumption
                FROM holidays_df
                FULL JOIN daily_df
                  ON holidays_df.`Bank holidays` = daily_df.day
                JOIN information_df
                  ON daily_df.LCLid = information_df.LCLid
               WHERE holidays_df.`Bank holidays` IS NULL
            GROUP BY information_df.file, daily_df.day
            ORDER BY information_df.file, daily_df.day
              
               ''').show()

+--------+-------------------+----------------------+----------------------+
|    file|                day|MAX_Energy_Consumption|MIN_Energy_Consumption|
+--------+-------------------+----------------------+----------------------+
|block_22|2011-12-01 00:00:00|             6.1259999|                  0.44|
|block_22|2011-12-02 00:00:00|                 4.193|   0.31100000000000005|
|block_22|2011-12-03 00:00:00|     4.851999999999999|                 0.246|
|block_22|2011-12-04 00:00:00|                 4.768|                 0.259|
|block_22|2011-12-05 00:00:00|             4.7189999|   0.23700000000000002|
|block_22|2011-12-06 00:00:00|                  3.71|   0.23500000000000001|
|block_22|2011-12-07 00:00:00|                 3.327|   0.21300000000000002|
|block_22|2011-12-08 00:00:00|    4.2850000999999995|   0.29500000000000004|
|block_22|2011-12-09 00:00:00|    3.7210000999999995|                 0.269|
|block_22|2011-12-10 00:00:00|    3.4830000000000005|                 0.241|
|block_22|2011-12-11 00:00:00|                 4.984|                 0.246|
|block_22|2011-12-12 00:00:00|                 4.349|   0.23900000000000002|
|block_22|2011-12-13 00:00:00|             4.0399999|                 0.215|
|block_22|2011-12-14 00:00:00|             4.5239999|                 0.223|
|block_22|2011-12-15 00:00:00|     9.065999999999999|                 0.386|
|block_22|2011-12-16 00:00:00|    7.9510003000000005|                 0.305|
|block_22|2011-12-17 00:00:00|                 6.677|                 0.331|
|block_22|2011-12-18 00:00:00|     6.657000099999999|                 0.356|
|block_22|2011-12-19 00:00:00|             8.5929999|                 0.506|
|block_22|2011-12-20 00:00:00|             6.7639999|   0.44899999999999995|
+--------+-------------------+----------------------+----------------------+
only showing top 20 rows

In [18]:
spark.sql(''' SELECT
                     energy_count,
                     RANK() OVER(ORDER BY energy_count) AS rank_no
                FROM daily_df
               GROUP BY energy_count''').show()

+------------+-------+
|energy_count|rank_no|
+------------+-------+
|           0|      1|
|           1|      2|
|           9|      3|
|          18|      4|
|          19|      5|
|          20|      6|
|          21|      7|
|          22|      8|
|          23|      9|
|          24|     10|
|          25|     11|
|          26|     12|
|          27|     13|
|          28|     14|
|          29|     15|
|          30|     16|
|          31|     17|
|          32|     18|
|          33|     19|
|          34|     20|
+------------+-------+
only showing top 20 rows

In [19]:
spark.sql(''' SELECT 
                    LCLid, energy_max,
                    YEAR(day) AS year
              FROM daily_df
                      ''').show()

+---------+------------------+----+
|    LCLid|        energy_max|year|
+---------+------------------+----+
|MAC000131|             0.868|2011|
|MAC000131|         1.1160001|2011|
|MAC000131|             0.685|2011|
|MAC000131|0.6759999999999999|2011|
|MAC000131|0.7879999999999999|2011|
|MAC000131|             1.077|2011|
|MAC000131|             0.705|2011|
|MAC000131|             1.094|2011|
|MAC000131|0.7490000000000001|2011|
|MAC000131|             0.613|2011|
|MAC000131|             0.866|2011|
|MAC000131|             0.838|2011|
|MAC000131|             0.778|2011|
|MAC000131|             1.207|2011|
|MAC000131|             0.888|2011|
|MAC000131|             0.782|2011|
|MAC000131|             1.252|2011|
|MAC000131|             0.812|2012|
|MAC000131|             0.851|2012|
|MAC000131|             0.674|2012|
+---------+------------------+----+
only showing top 20 rows

In [20]:
spark.sql('''SELECT 
                  information_df.file,
                  YEAR(daily_df.day) AS year,
                  SUM(daily_df.energy_max) AS MAX_Energy_Consumption
              FROM daily_df
              INNER JOIN information_df
              ON daily_df.LCLid = information_df.LCLid
              GROUP BY
                  information_df.file,
                  year
              ORDER BY
                  information_df.file,
                  year 
              ''').show()

+--------+----+----------------------+
|    file|year|MAX_Energy_Consumption|
+--------+----+----------------------+
|block_22|2011|    346.56800120000014|
|block_22|2012|    12380.234003999913|
|block_22|2013|    15652.722000600028|
|block_22|2014|     2444.125000400005|
|block_35|2011|    126.26499970000003|
|block_35|2012|     2229.221001599999|
|block_35|2013|     1871.591001900004|
|block_35|2014|     297.2150002999998|
|block_36|2011|    197.44900089999993|
|block_36|2012|    10185.997996999997|
|block_36|2013|    14123.765999900002|
|block_36|2014|     2443.551000899998|
|block_52|2011|    34.078000100000004|
|block_52|2012|     8567.932999699973|
|block_52|2013|    13567.974003399986|
|block_52|2014|     2194.911998900001|
|block_54|2011|     76.73699969999998|
|block_54|2012|     9122.000000799984|
|block_54|2013|     14649.40600229996|
|block_54|2014|     2459.588999199998|
+--------+----+----------------------+
only showing top 20 rows

**max energy consumption of each block for each year**

In [21]:
spark.sql('''SELECT 
                  information_df.file,
                  MAX(daily_df.energy_max) AS MAX_Energy_Consumption,
                  YEAR(daily_df.day) AS year
              FROM daily_df
              INNER JOIN information_df
              ON daily_df.LCLid = information_df.LCLid
              GROUP BY
                  information_df.file,
                  year
              ORDER BY
                  information_df.file,
                  MAX_Energy_Consumption DESC
              ''').show()

+--------+----------------------+----+
|    file|MAX_Energy_Consumption|year|
+--------+----------------------+----+
|block_22|             5.7490001|2013|
|block_22|             5.4320002|2012|
|block_22|             4.6680002|2014|
|block_22|             4.4559999|2011|
|block_35|             6.6999998|2012|
|block_35|                 6.171|2013|
|block_35|             4.6259999|2011|
|block_35|             4.5619998|2014|
|block_36|             6.5279999|2013|
|block_36|             6.5100002|2014|
|block_36|                 6.395|2012|
|block_36|                 4.829|2011|
|block_52|                 4.836|2013|
|block_52|             4.6799998|2014|
|block_52|                 4.605|2012|
|block_52|                 1.596|2011|
|block_54|    5.0209999000000005|2013|
|block_54|             4.6719999|2012|
|block_54|             3.8789999|2014|
|block_54|                 2.513|2011|
+--------+----------------------+----+
only showing top 20 rows

In [22]:
max_energy_df = spark.sql('''SELECT
                  ROW_NUMBER()OVER(PARTITION BY information_df.file ORDER BY MAX(daily_df.energy_max) DESC) as sr_no,
                  information_df.file,
                  MAX(daily_df.energy_max) AS MAX_Energy_Consumption,
                  YEAR(daily_df.day) AS year
              FROM daily_df
              INNER JOIN information_df
              ON daily_df.LCLid = information_df.LCLid
              GROUP BY
                  information_df.file,
                  year
              ORDER BY
                  information_df.file,
                  MAX_Energy_Consumption DESC
              ''')

max_energy_df.createOrReplaceTempView('max_energy_df')

max_energy_df.filter('sr_no ="1"').show()

+-----+--------+----------------------+----+
|sr_no|    file|MAX_Energy_Consumption|year|
+-----+--------+----------------------+----+
|    1|block_22|             5.7490001|2013|
|    1|block_35|             6.6999998|2012|
|    1|block_36|             6.5279999|2013|
|    1|block_52|                 4.836|2013|
|    1|block_54|    5.0209999000000005|2013|
|    1|block_62|             4.1890001|2013|
|    1|block_70|    4.2309999000000005|2013|
|    1|block_76|             6.3920002|2014|
|    1|block_87|             5.6430001|2013|
|    1|block_92|             4.9850001|2013|
|    1|block_96|             4.4899998|2012|
+-----+--------+----------------------+----+

In [23]:
halfH_df = spark.read.csv('/content/half_hourly_dataset', header=True, inferSchema=True)
halfH_df.show(5)

+---------+--------------------+--------------+
|    LCLid|                tstp|energy(kWh/hh)|
+---------+--------------------+--------------+
|MAC000002|2012-10-12 00:30:...|            0 |
|MAC000002|2012-10-12 01:00:...|            0 |
|MAC000002|2012-10-12 01:30:...|            0 |
|MAC000002|2012-10-12 02:00:...|            0 |
|MAC000002|2012-10-12 02:30:...|            0 |
+---------+--------------------+--------------+
only showing top 5 rows

In [24]:
weather_hourly_df.show(5)

+----------+-----------+-----------+-------------------+--------+--------+-------------------+---------+----------+-------------------+--------+-------------+
|visibility|windBearing|temperature|               time|dewPoint|pressure|apparentTemperature|windSpeed|precipType|               icon|humidity|      summary|
+----------+-----------+-----------+-------------------+--------+--------+-------------------+---------+----------+-------------------+--------+-------------+
|      5.97|        104|      10.24|2011-11-11 00:00:00|    8.86| 1016.76|              10.24|     2.77|      rain|partly-cloudy-night|    0.91|Partly Cloudy|
|      4.88|         99|       9.76|2011-11-11 01:00:00|    8.83| 1016.63|               8.24|     2.95|      rain|partly-cloudy-night|    0.94|Partly Cloudy|
|       3.7|         98|       9.46|2011-11-11 02:00:00|    8.79| 1016.36|               7.76|     3.17|      rain|partly-cloudy-night|    0.96|Partly Cloudy|
|      3.12|         99|       9.23|2011-11-11 03:00:00|    8.63| 1016.28|               7.44|     3.25|      rain|                fog|    0.96|        Foggy|
|      1.85|        111|       9.26|2011-11-11 04:00:00|    9.21| 1015.98|               7.24|      3.7|      rain|                fog|     1.0|        Foggy|
+----------+-----------+-----------+-------------------+--------+--------+-------------------+---------+----------+-------------------+--------+-------------+
only showing top 5 rows

In [25]:
weather_hourly_df.describe().show()

+-------+------------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+----------+---------+-------------------+--------------------+
|summary|        visibility|       windBearing|      temperature|         dewPoint|          pressure|apparentTemperature|         windSpeed|precipType|     icon|           humidity|             summary|
+-------+------------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+----------+---------+-------------------+--------------------+
|  count|             21165|             21165|            21165|            21165|             21152|              21165|             21165|     21165|    21165|              21165|               21165|
|   mean|11.166485235058063|195.68589652728562|10.47148594377513|6.530501299314915|1014.1251527042363|   9.23033782187569|3.9052152137963905|      null|     null| 0.7818294353886075|                null|
| stddev|3.0993367185123852|  90.6294531658618|5.781903926139482|5.041965163443213|11.388337117086296|   6.94091860704672| 2.026853948370247|      null|     null|0.14036853178220704|                null|
|    min|              0.18|                 0|            -5.64|            -9.98|            975.74|              -8.88|              0.04|      rain|clear-day|               0.23|              Breezy|
|    max|             16.09|               359|             32.4|            19.88|           1043.32|              32.42|              14.8|      snow|     wind|                1.0|Windy and Partly ...|
+-------+------------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+----------+---------+-------------------+--------------------+

In [26]:
weather_hourly_df.groupby('icon').count().show()

+-------------------+-----+
|               icon|count|
+-------------------+-----+
|                fog|  693|
|  partly-cloudy-day| 7658|
|          clear-day| 1110|
|             cloudy|  979|
|        clear-night| 4661|
|               wind|  989|
|partly-cloudy-night| 5075|
+-------------------+-----+

In [27]:
weather_hourly_df.groupby('summary').count().show()

+--------------------+-----+
|             summary|count|
+--------------------+-----+
|              Breezy|  195|
|  Windy and Overcast|    9|
|               Foggy|  693|
|Breezy and Partly...|  267|
|       Partly Cloudy| 6638|
|               Clear| 5771|
|       Mostly Cloudy| 6095|
| Breezy and Overcast|   83|
|Breezy and Mostly...|  385|
|Windy and Partly ...|    3|
|               Windy|   18|
|Windy and Mostly ...|   29|
|            Overcast|  979|
+--------------------+-----+

In [28]:
weather_hourly_df.groupby('precipType').count().show()

+----------+-----+
|precipType|count|
+----------+-----+
|      rain|20370|
|      snow|  795|
+----------+-----+

In [29]:
hh_energy_consumption_df = weather_hourly_df.withColumn('day_time',date_format('time', 'HH:mm:ss'))
hh_energy_consumption_df = hh_energy_consumption_df.withColumn('date',date_format(col('time'),"yyyy-MM-dd"))
hh_energy_consumption_df = hh_energy_consumption_df.drop('time')
hh_energy_consumption_df.show()
#hh_energy_consumption_df.createOrReplaceTempView('hh_energy_consumption_df')

+----------+-----------+-----------+--------+--------+-------------------+---------+----------+-------------------+--------+-------------+--------+----------+
|visibility|windBearing|temperature|dewPoint|pressure|apparentTemperature|windSpeed|precipType|               icon|humidity|      summary|day_time|      date|
+----------+-----------+-----------+--------+--------+-------------------+---------+----------+-------------------+--------+-------------+--------+----------+
|      5.97|        104|      10.24|    8.86| 1016.76|              10.24|     2.77|      rain|partly-cloudy-night|    0.91|Partly Cloudy|00:00:00|2011-11-11|
|      4.88|         99|       9.76|    8.83| 1016.63|               8.24|     2.95|      rain|partly-cloudy-night|    0.94|Partly Cloudy|01:00:00|2011-11-11|
|       3.7|         98|       9.46|    8.79| 1016.36|               7.76|     3.17|      rain|partly-cloudy-night|    0.96|Partly Cloudy|02:00:00|2011-11-11|
|      3.12|         99|       9.23|    8.63| 1016.28|               7.44|     3.25|      rain|                fog|    0.96|        Foggy|03:00:00|2011-11-11|
|      1.85|        111|       9.26|    9.21| 1015.98|               7.24|      3.7|      rain|                fog|     1.0|        Foggy|04:00:00|2011-11-11|
|      1.96|        115|       9.33|    8.87| 1015.91|               7.19|     3.97|      rain|                fog|    0.97|        Foggy|05:00:00|2011-11-11|
|       1.3|        118|       9.31|    8.82|  1015.7|                7.1|      4.1|      rain|                fog|    0.97|        Foggy|06:00:00|2011-11-11|
|      1.22|        114|       8.85|    8.69| 1016.08|               6.48|     4.23|      rain|                fog|    0.99|        Foggy|07:00:00|2011-11-11|
|       1.4|        120|       9.13|    8.75| 1016.33|               6.84|      4.2|      rain|                fog|    0.97|        Foggy|08:00:00|2011-11-11|
|      1.38|        121|       9.23|     8.7| 1016.57|               7.07|     3.96|      rain|                fog|    0.97|        Foggy|09:00:00|2011-11-11|
|      1.35|        115|       9.21|    8.76| 1016.26|               6.96|     4.16|      rain|                fog|    0.97|        Foggy|10:00:00|2011-11-11|
|      1.72|        127|       9.78|    9.23| 1016.17|               7.68|     4.14|      rain|                fog|    0.96|        Foggy|11:00:00|2011-11-11|
|      1.83|        129|       9.91|    9.34| 1015.92|               7.91|     3.97|      rain|                fog|    0.96|        Foggy|12:00:00|2011-11-11|
|      2.53|        120|      10.22|    9.73| 1015.49|              10.22|     4.25|      rain|                fog|    0.97|        Foggy|13:00:00|2011-11-11|
|      3.67|        122|      10.63|    9.73|  1015.1|              10.63|     4.28|      rain|  partly-cloudy-day|    0.94|Mostly Cloudy|14:00:00|2011-11-11|
|      3.77|        126|      10.34|     9.7| 1015.32|              10.34|      4.3|      rain|  partly-cloudy-day|    0.96|Mostly Cloudy|15:00:00|2011-11-11|
|      3.99|        121|      10.31|    9.66| 1015.13|              10.31|      4.8|      rain|  partly-cloudy-day|    0.96|Mostly Cloudy|16:00:00|2011-11-11|
|      4.02|        129|      10.39|    9.73| 1015.41|              10.39|     4.13|      rain|partly-cloudy-night|    0.96|Mostly Cloudy|17:00:00|2011-11-11|
|      4.17|        130|      10.79|    9.79| 1015.62|              10.79|     4.41|      rain|partly-cloudy-night|    0.94|Mostly Cloudy|18:00:00|2011-11-11|
|      4.36|        136|      10.87|    9.86| 1015.91|              10.87|     4.69|      rain|partly-cloudy-night|    0.94|Mostly Cloudy|19:00:00|2011-11-11|
+----------+-----------+-----------+--------+--------+-------------------+---------+----------+-------------------+--------+-------------+--------+----------+
only showing top 20 rows

In [30]:
col_list = weather_hourly_df.columns
print(col_list)
list_1 = ['visibility', 'windBearing', 'temperature', 'dewPoint', 'pressure', 'apparentTemperature', 'windSpeed', 'precipType', 'icon', 'humidity', 'summary']
weather_hourly_df.select([count(when(isnan(c),c)).alias(c) for c in list_1]).toPandas()

['visibility', 'windBearing', 'temperature', 'time', 'dewPoint', 'pressure', 'apparentTemperature', 'windSpeed', 'precipType', 'icon', 'humidity', 'summary']

,visibility,windBearing,temperature,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
0,0,0,0,0,0,0,0,0,0,0,0

In [31]:
halfH_df_1 = halfH_df.withColumn('time',date_format('tstp', 'HH:mm:ss'))
halfH_df_1 = halfH_df_1.withColumn('date',date_format(col('tstp'),"yyyy-MM-dd"))
halfH_df_1 = halfH_df_1.withColumnRenamed('energy(kWh/hh)', 'energy')
halfH_df_1 = halfH_df_1.drop('tstp')
halfH_df_1.show(5)
halfH_df_1.createOrReplaceTempView('halfH_df_1')

+---------+------+--------+----------+
|    LCLid|energy|    time|      date|
+---------+------+--------+----------+
|MAC000002|    0 |00:30:00|2012-10-12|
|MAC000002|    0 |01:00:00|2012-10-12|
|MAC000002|    0 |01:30:00|2012-10-12|
|MAC000002|    0 |02:00:00|2012-10-12|
|MAC000002|    0 |02:30:00|2012-10-12|
+---------+------+--------+----------+
only showing top 5 rows

In [32]:
half_hourly_df = spark.sql(''' SELECT
                                  halfH_df_1.LCLid,
                                  halfH_df_1.energy,
                                  halfH_df_1.time,
                                  halfH_df_1.date,
                                  information_df.file
                               FROM halfH_df_1
                               INNER JOIN information_df
                               ON halfH_df_1.LCLid = information_df.LCLid
                            ''')

half_hourly_df.createOrReplaceTempView('half_hourly_df')

In [33]:
half_hourly_df.show(5)

+---------+------+--------+----------+-------+
|    LCLid|energy|    time|      date|   file|
+---------+------+--------+----------+-------+
|MAC000002|    0 |00:30:00|2012-10-12|block_0|
|MAC000002|    0 |01:00:00|2012-10-12|block_0|
|MAC000002|    0 |01:30:00|2012-10-12|block_0|
|MAC000002|    0 |02:00:00|2012-10-12|block_0|
|MAC000002|    0 |02:30:00|2012-10-12|block_0|
+---------+------+--------+----------+-------+
only showing top 5 rows

**peak hour energy consumption per day**

In [35]:
peak_hour_consumption = spark.sql(''' SELECT
                                          file,
                                          LCLid,
                                          date,
                                          SUM(energy) AS peak_hour_consumption
                                      FROM half_hourly_df
                                      WHERE time BETWEEN '09:00:00' AND '18:00:00'
                                      GROUP BY 
                                          file,
                                          LCLid,
                                          date 
                                      ORDER BY 
                                          file DESC,
                                          LCLid,
                                          date''')

peak_hour_consumption.createOrReplaceTempView('peak_hour_consumption')
peak_hour_consumption.show()

+-------+---------+----------+---------------------+
|   file|    LCLid|      date|peak_hour_consumption|
+-------+---------+----------+---------------------+
|block_9|MAC000026|2011-12-07|                5.637|
|block_9|MAC000026|2011-12-08|                 9.87|
|block_9|MAC000026|2011-12-09|    6.033999999999999|
|block_9|MAC000026|2011-12-10|   6.2780000000000005|
|block_9|MAC000026|2011-12-11|   6.6690000000000005|
|block_9|MAC000026|2011-12-12|               14.606|
|block_9|MAC000026|2011-12-13|    9.150000000000002|
|block_9|MAC000026|2011-12-14|   13.062999999999999|
|block_9|MAC000026|2011-12-15|    9.768999999999998|
|block_9|MAC000026|2011-12-16|               10.737|
|block_9|MAC000026|2011-12-17|   7.1240000000000006|
|block_9|MAC000026|2011-12-18|                7.772|
|block_9|MAC000026|2011-12-19|                9.375|
|block_9|MAC000026|2011-12-20|    5.679000099999999|
|block_9|MAC000026|2011-12-21|                3.077|
|block_9|MAC000026|2011-12-22|                2.805|
|block_9|MAC000026|2011-12-23|   2.6029999999999998|
|block_9|MAC000026|2011-12-24|                2.577|
|block_9|MAC000026|2011-12-25|   2.6869999999999994|
|block_9|MAC000026|2011-12-26|   2.8350000000000004|
+-------+---------+----------+---------------------+
only showing top 20 rows

**peak hour energy consumption per month**

In [41]:
spark.sql(''' SELECT
                  file,
                  LCLid,
                  YEAR(date) AS year,
                  EXTRACT(MONTH FROM date) AS month,
                  AVG(peak_hour_consumption) AS avg_peak_hour_consumption_per_month,
                  MAX(peak_hour_consumption) AS max_peak_hour_consumption_per_month,
                  MIN(peak_hour_consumption) AS min_peak_hour_consumption_per_month
              FROM peak_hour_consumption
              GROUP BY 
                  file,
                  LCLid,
                  year,
                  month
              ORDER BY 
                  file DESC,
                  LCLid,
                  year,
                  month''').show()

+-------+---------+----+-----+-----------------------------------+-----------------------------------+-----------------------------------+
|   file|    LCLid|year|month|avg_peak_hour_consumption_per_month|max_peak_hour_consumption_per_month|min_peak_hour_consumption_per_month|
+-------+---------+----+-----+-----------------------------------+-----------------------------------+-----------------------------------+
|block_9|MAC000026|2011|   12|                        6.069640004|                             14.606|                              2.539|
|block_9|MAC000026|2012|    1|                 5.2895483903225795|                             11.083|                              2.485|
|block_9|MAC000026|2012|    2|                  6.184103458620689|                         19.0400002|                 2.7530000000000006|
|block_9|MAC000026|2012|    3|                  7.679774177419355|                         26.1049999|                              2.886|
|block_9|MAC000026|2012|    4|                  7.089200006666667|                 14.162999899999994|                 2.8280000000000003|
|block_9|MAC000026|2012|    5|                  5.104741935483872|                              9.463|                              2.855|
|block_9|MAC000026|2012|    6|                  5.158133340000002|                 11.808000000000003|                              2.787|
|block_9|MAC000026|2012|    7|                  5.074709683870966|                 12.510000000000002|                              2.798|
|block_9|MAC000026|2012|    8|                  3.578129032258064|                          8.8429999|                 2.8040000000000003|
|block_9|MAC000026|2012|    9|                  5.634099999999999|                 12.105999999999996|                              2.908|
|block_9|MAC000026|2012|   10|                  6.515290332258067|                 13.904000100000003|                 2.9699999999999998|
|block_9|MAC000026|2012|   11|                  7.024833343333333|                 11.329999999999998|                              2.568|
|block_9|MAC000026|2012|   12|                  6.162290329032259|                              14.04|                              2.822|
|block_9|MAC000026|2013|    1|                 4.7078387064516125|                 11.966000000000001|                              2.538|
|block_9|MAC000026|2013|    2|                 5.3322856892857144|                 10.895999900000001|                 2.4070000000000005|
|block_9|MAC000026|2013|    3|                   5.07254838387097|                         11.8449999|                 2.4100000000000006|
|block_9|MAC000026|2013|    4|                  5.341033336666667|                               11.0|                              2.596|
|block_9|MAC000026|2013|    5|                  5.731064519354837|                 12.396999899999999|                 2.6589999999999994|
|block_9|MAC000026|2013|    6|                  5.196100000000001|                         10.0239998|                              2.583|
|block_9|MAC000026|2013|    7|                  4.515548387096773|                 10.022999899999999|                 2.7159999999999993|
+-------+---------+----+-----+-----------------------------------+-----------------------------------+-----------------------------------+
only showing top 20 rows

**peak hour energy consumption per year**

In [42]:
spark.sql(''' SELECT
                  file,
                  LCLid,
                  YEAR(date) as year,
                  AVG(peak_hour_consumption) AS avg_peak_hour_consumption_per_year,
                  MAX(peak_hour_consumption) AS max_peak_hour_consumption_per_month,
                  MIN(peak_hour_consumption) AS min_peak_hour_consumption_per_month
              FROM peak_hour_consumption
              GROUP BY 
                  file,
                  LCLid,
                  year
              ORDER BY 
                  file DESC,
                  LCLid,
                  year''').show()

+-------+---------+----+----------------------------------+-----------------------------------+-----------------------------------+
|   file|    LCLid|year|avg_peak_hour_consumption_per_year|max_peak_hour_consumption_per_month|min_peak_hour_consumption_per_month|
+-------+---------+----+----------------------------------+-----------------------------------+-----------------------------------+
|block_9|MAC000026|2011|                       6.069640004|                             14.606|                              2.539|
|block_9|MAC000026|2012|                  5.86903279043716|                         26.1049999|                              2.485|
|block_9|MAC000026|2013|                  5.33105479260274|                 13.760000099999997|                 2.4070000000000005|
|block_9|MAC000026|2014|                 6.046534482758623|                         16.2480001|                              2.396|
|block_9|MAC000052|2011|                 4.679458333333334|                 13.839999999999996|                 1.4169999999999998|
|block_9|MAC000052|2012|                2.5600464489071015|                             10.836|                 0.6390000000000001|
|block_9|MAC000052|2013|                2.9734191764383544|                 16.585999800000003|                 0.6980000000000002|
|block_9|MAC000052|2014|                3.6554655189655167|                          9.3190001|                              0.811|
|block_9|MAC000105|2011|                24.769210542105267|                         45.4920001|                             10.246|
|block_9|MAC000105|2012|                 23.86054917021857|                         87.3710004|                  5.306000000000001|
|block_9|MAC000105|2013|                 23.71116437506848|                 54.452000600000005|                              4.848|
|block_9|MAC000105|2014|                21.075880997619052|                 48.113000000000014|                              3.516|
|block_9|MAC000109|2011|                             2.953|                  4.688000000000001|                 0.9570000000000001|
|block_9|MAC000109|2012|                 3.049133880054645|                         11.5260001|                 1.0570000000000002|
|block_9|MAC000109|2013|                 2.922619178630138|                  9.801000199999999|                              1.179|
|block_9|MAC000109|2014|                 3.465120689655173|                  5.544999999999999|                 1.3299999999999998|
|block_9|MAC000377|2012|                2.6111423728813565|                  5.802999999999999|                              0.598|
|block_9|MAC000377|2013|                 2.672472527472528|                  5.951000000000001|                 0.4880000000000001|
|block_9|MAC000377|2014|                2.9253620689655166|                  6.167000000000001|                              1.324|
|block_9|MAC000808|2012|                5.3637879995999995|                 28.938999900000002|                              0.548|
+-------+---------+----+----------------------------------+-----------------------------------+-----------------------------------+
only showing top 20 rows

**previous and next year consumption using lag and lead**

In [60]:
spark.sql(''' SELECT
                  file,
                  LCLid,
                  YEAR(date) as year,
                  AVG(peak_hour_consumption) AS avg_peak_hour_consumption_per_year,
                  LAG(AVG(peak_hour_consumption), 1)OVER(PARTITION BY LCLid ORDER BY YEAR(date)) AS previous_year_avg_consumption,
                  LEAD(AVG(peak_hour_consumption), 1)OVER(PARTITION BY LCLid ORDER BY YEAR(date)) AS next_year_avg_consumption
              FROM peak_hour_consumption
              GROUP BY 
                  file,
                  LCLid,
                  year
              ORDER BY 
                  file DESC,
                  LCLid,
                  year''').show()

+-------+---------+----+----------------------------------+-----------------------------+-------------------------+
|   file|    LCLid|year|avg_peak_hour_consumption_per_year|previous_year_avg_consumption|next_year_avg_consumption|
+-------+---------+----+----------------------------------+-----------------------------+-------------------------+
|block_9|MAC000026|2011|                       6.069640004|                         null|         5.86903279043716|
|block_9|MAC000026|2012|                  5.86903279043716|                  6.069640004|         5.33105479260274|
|block_9|MAC000026|2013|                  5.33105479260274|             5.86903279043716|        6.046534482758623|
|block_9|MAC000026|2014|                 6.046534482758623|             5.33105479260274|                     null|
|block_9|MAC000052|2011|                 4.679458333333334|                         null|       2.5600464489071015|
|block_9|MAC000052|2012|                2.5600464489071015|            4.679458333333334|       2.9734191764383544|
|block_9|MAC000052|2013|                2.9734191764383544|           2.5600464489071015|       3.6554655189655167|
|block_9|MAC000052|2014|                3.6554655189655167|           2.9734191764383544|                     null|
|block_9|MAC000105|2011|                24.769210542105267|                         null|        23.86054917021857|
|block_9|MAC000105|2012|                 23.86054917021857|           24.769210542105267|        23.71116437506848|
|block_9|MAC000105|2013|                 23.71116437506848|            23.86054917021857|       21.075880997619052|
|block_9|MAC000105|2014|                21.075880997619052|            23.71116437506848|                     null|
|block_9|MAC000109|2011|                             2.953|                         null|        3.049133880054645|
|block_9|MAC000109|2012|                 3.049133880054645|                        2.953|        2.922619178630138|
|block_9|MAC000109|2013|                 2.922619178630138|            3.049133880054645|        3.465120689655173|
|block_9|MAC000109|2014|                 3.465120689655173|            2.922619178630138|                     null|
|block_9|MAC000377|2012|                2.6111423728813565|                         null|        2.672472527472528|
|block_9|MAC000377|2013|                 2.672472527472528|           2.6111423728813565|       2.9253620689655166|
|block_9|MAC000377|2014|                2.9253620689655166|            2.672472527472528|                     null|
|block_9|MAC000808|2012|                5.3637879995999995|                         null|       6.5748931531506845|
+-------+---------+----+----------------------------------+-----------------------------+-------------------------+
only showing top 20 rows

**year in which avg peak hour consumption is max for perticular LCLid**

In [43]:
avg_peak_hour_consumption_per_year_df = spark.sql(''' SELECT
                                                          ROW_NUMBER()OVER(PARTITION BY LCLid ORDER BY AVG(peak_hour_consumption) DESC) as sr_no,
                                                          file,
                                                          LCLid,
                                                          YEAR(date) as year,
                                                          AVG(peak_hour_consumption) AS avg_peak_hour_consumption_per_year,
                                                          MAX(peak_hour_consumption) AS max_peak_hour_consumption_per_month,
                                                          MIN(peak_hour_consumption) AS min_peak_hour_consumption_per_month
                                                      FROM peak_hour_consumption
                                                      GROUP BY 
                                                          file,
                                                          LCLid,
                                                          year
                                                      ORDER BY 
                                                          file DESC,
                                                          LCLid,
                                                          avg_peak_hour_consumption_per_year DESC,
                                                          year''')

avg_peak_hour_consumption_per_year_df.createOrReplaceTempView('avg_peak_hour_consumption_per_year_df')
avg_peak_hour_consumption_per_year_df.filter("sr_no == '1' ").show()

+-----+-------+---------+----+----------------------------------+-----------------------------------+-----------------------------------+
|sr_no|   file|    LCLid|year|avg_peak_hour_consumption_per_year|max_peak_hour_consumption_per_month|min_peak_hour_consumption_per_month|
+-----+-------+---------+----+----------------------------------+-----------------------------------+-----------------------------------+
|    1|block_9|MAC000026|2011|                       6.069640004|                             14.606|                              2.539|
|    1|block_9|MAC000052|2011|                 4.679458333333334|                 13.839999999999996|                 1.4169999999999998|
|    1|block_9|MAC000105|2011|                24.769210542105267|                         45.4920001|                             10.246|
|    1|block_9|MAC000109|2014|                 3.465120689655173|                  5.544999999999999|                 1.3299999999999998|
|    1|block_9|MAC000377|2014|                2.9253620689655166|                  6.167000000000001|                              1.324|
|    1|block_9|MAC000808|2014|                10.214362077586205|                 29.970000099999993|                              0.654|
|    1|block_9|MAC000815|2014|                 3.818758618965517|                              5.985|                 2.0880000000000005|
|    1|block_9|MAC000863|2012|                     10.5283959892|                         29.0129999|                              2.012|
|    1|block_9|MAC000866|2012|                 7.441813008130079|                 17.459000099999997|                 3.2620000000000005|
|    1|block_9|MAC000871|2012|                1.1053427415322579|                  4.682999899999999|                0.31500000000000006|
|    1|block_9|MAC000883|2013|                 8.583104166666669|                         15.9990001|                              1.218|
|    1|block_9|MAC000957|2014|                13.193103436206892|                         27.3899999|                 3.9139999999999997|
|    1|block_9|MAC001070|2014|                3.8338421052631575|                             20.383|                0.30000000000000004|
|    1|block_9|MAC001539|2014|                 5.802280685964913|                 13.030999999999999|                0.41800000000000015|
|    1|block_9|MAC001613|2014|                 9.545137924137933|                 15.320000100000003|                 2.7670000000000003|
|    1|block_9|MAC001638|2012|                 2.648455814418606|                              8.285|                 0.7940000000000002|
|    1|block_9|MAC001873|2014|                 6.972965517241375|                 12.246999999999996|                 3.8499999999999996|
|    1|block_9|MAC001928|2012|                 4.132656862254903|                             13.563|                               1.27|
|    1|block_9|MAC002005|2014|                 6.253999991379309|                 15.364000099999998|                              2.398|
|    1|block_9|MAC002148|2014|                 9.032637934482755|                 19.130000100000004|                 5.1290000000000004|
+-----+-------+---------+----+----------------------------------+-----------------------------------+-----------------------------------+
only showing top 20 rows